# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.localy
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# data jsons scenarios
src/configs/data-presidencia.json
src/configs/data-criminal.json
src/configs/data-privado.json
src/configs/data-publico.json
src/configs/data-publico_BKP.json

yarn.lock

# general
/public
/src/serviceWorker.js